<h1>ngTemplateOutlet + injector </h1>
<h2>dummy part</h2>
<h3>foo</h3>
<foo>
<content></content>
</foo>
<h3>bar</h3>
<bar>
<content></content>
</bar>
<h3>bar 2</h3>
<bar>
  <div>
  <content></content>
  </div>
</bar>

<h3>custom-bar</h3>
<custom-bar>
<content></content>
</custom-bar>
<h3>custom-bar-work </h3>
<custom-bar-work>
  <ng-template>
  <content></content>
  </ng-template>
</custom-bar-work>

<h2>tabs part</h2>
<h3>tab-group </h3>
<app-tab-group>
<app-tab-panel title="Tab 1">content tab 1</app-tab-panel>
<app-tab-panel title="Tab 2">content tab 2</app-tab-panel>
<app-tab-panel title="Tab 3">content tab 3</app-tab-panel>
<app-tab-panel title="Tab 4">content tab 4</app-tab-panel>
</app-tab-group>

<h3>bs-tab-group </h3>
<app-bs-tab-group>
<app-tab-panel title="Tab 1">content tab 1</app-tab-panel>
<app-tab-panel title="Tab 2">content tab 2</app-tab-panel>
<app-tab-panel title="Tab 3">content tab 3</app-tab-panel>
<app-tab-panel title="Tab 4">content tab 4</app-tab-panel>
</app-bs-tab-group>


<br/>
<br/>
<br/>