<h1>ngTemplateOutlet + injector </h1>
<h2>dummy part</h2>
<foo>
<content></content>
</foo>

<bar>
<content></content>
</bar>

<bar>
  <div>
  <content></content>
  </div>
</bar>


<custom-bar>
<content></content>
</custom-bar>

<custom-bar-work>
  <ng-template>
  <content></content>
  </ng-template>
</custom-bar-work>

<h2>tab part</h2>

<app-tab-group>
<app-tab-panel title="Tab 1">content tab 1</app-tab-panel>
<app-tab-panel title="Tab 2">content tab 2</app-tab-panel>
<app-tab-panel title="Tab 3">content tab 3</app-tab-panel>
<app-tab-panel title="Tab 4">content tab 4</app-tab-panel>
</app-tab-group>

<br/>
<br/>
<br/>


<app-bs-tab-group>
<app-tab-panel title="Tab 1">content tab 1</app-tab-panel>
<app-tab-panel title="Tab 2">content tab 2</app-tab-panel>
<app-tab-panel title="Tab 3">content tab 3</app-tab-panel>
<app-tab-panel title="Tab 4">content tab 4</app-tab-panel>
</app-bs-tab-group>


<br/>
<br/>
<br/>